<!DOCTYPE html>
<html>
  <head>
    <title>Hasarius</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li>menu</li>
      <ul>
        <li><a href="/organisms">Organism</a></li>
        <li><a href="/indivisuals">Indivisual</a></li>
        <li><a href="/silk_samples">Silk sample</a></li>
        <li><a href="/specimen_samples">Specimen sample</a></li>
        <li><a href="/mechanical_properties">Mechanical property</a></li>
        <li><a href="/genes">Gene</a></li>
      </ul>
    </ul>
    <%= yield %>
  </body>
</html>
